extends ../layout

block content
  h1 Books
    
  form(method="get" action="/books")
    input#search(name='search' type='text')
    button(type="submit") Search
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)= book.title
          td= book.author
          td= book.genre
          td= book.year
  div
    - var n = 0;
    ul.pagination-container
      if currentPage != 1
        li
          a.button( href=`/books?page=${currentPage-1}${search.length ? '&search='+search : ''}`) < Previous
      while n < totalPages
        li
          - n++
          a.button(class= currentPage == n ? "active" : "" href=`/books?page=${n}${search.length ? '&search='+search : ''}`)= n
      if currentPage < totalPages
        li
          a.button( href=`/books?page=${currentPage + 1}${search.length ? '&search='+search : ''}`) Next >


     


