div
    - var n = 0;
    ul.pagination-container
      if currentPage != 1
        li
          a.button( href=`/books?page=${currentPage-1}${search.length ? '&search='+search : ''}`) < Previous
      while n < totalPages
        li
          - n++
          a.button(class= currentPage == n ? "active" : "" href=`/books?page=${n}${search.length ? '&search='+search : ''}`)= n
      if currentPage < totalPages
        li
          a.button( href=`/books?page=${currentPage + 1}${search.length ? '&search='+search : ''}`) Next >
